@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --succes: #388E3C;
    --light-succes: #BBF7D0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;

}

.bx {
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    overflow: hidden;
}

body.dark {
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb;

}

body {
    background: var(--grey);
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar.close {
    width: 60px;
}

.sidebar .logo {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.sidebar .logo .logo-name {
    color: var(--primary);
}

.sidebar .logo .logo-name span {
    color: var(--danger);
}

.sidebar .logo .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}


.sidebar .side-menu .active {
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu .active::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}


.sidebar .side-menu .active a {
    color: var(--primary);
}

.sidebar.close .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx {
    min-width: calc(60px - (4px + 6px) * 2);
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.content {
    position: relative;
    width: calc(100% - 230px - 300px);
    left: 230px;
    right: 300px;
    transition: all 0.3s ease;
}

.sidebar.close~.content {
    width: calc(100% - 60px);
    left: 60px;
}

.content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content nav::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a {
    color: var(--dark);
    gap: 6px;
}

.content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
}

.content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav .form-input {
    display: flex;
    align-items: center;
    height: 36px;
    width: 400px;
}

.content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.content nav form .form-input button {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.content nav .avtnsetting {
    display: flex;
    align-items: center;
    gap: 13px
}

.content nav .profile {
    vertical-align: middle;
    font-size: 35px;
}

.content nav .settings {
    vertical-align: middle;
    font-size: 35px;
}

.content nav .notify {
    vertical-align: middle;
    font-size: 35px;
}


.content nav .theme-toggle {
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.content nav .theme-toggle::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before {
    left: calc(100% - (25px - 4px) - 2px);
}

/*text username*/
.userbox {
    background: #e2e1e1;
    padding: 6px 14px;
    border-radius: 20px;
    box-shadow: inset 0 0 4px rbga(0, 0, 0, 0.05);
}

.user-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Username {
    font-weight: 500;
    color: #333;
}

.content .separator {
    margin: 35px 0 20px;
    margin-left: 20px;
    font-weight: 500;
    color: var(--primary);
}

.content .tai-lieu-hoc-tap {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.content .tai-lieu-hoc-tap .item {
    background: var(--grey);
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.content .tai-lieu-hoc-tap .item:hover {
    box-shadow: none;
    border-color: #999;
}

.content .tai-lieu-hoc-tap .item i {
    font-style: 100px;
    padding: 10px;
    border-radius: 16px;
}

.content .tai-lieu-hoc-tap .item:nth-child(1) i,
.content table tbody tr:nth-child(1) td.icon i {
    color: #1976d2;
    background: #e6e4ec;
}

.content .tai-lieu-hoc-tap .item:nth-child(2) i,
.content table tbody tr:nth-child(2) td.icon i {
    color: #1d92f1;
    background: #e6e4ec;
}

.content .tai-lieu-hoc-tap .item:nth-child(3) i,
.content table tbody tr:nth-child(3) td.icon i {
    color: #ffd12c;
    background: #e6e4ec;
}

.content .tai-lieu-hoc-tap .item:nth-child(4) i,
.content table tbody tr:nth-child(4) td.icon i {
    color: #3bc963;
    background: #e6e4ec;
}

.content .tai-lieu-hoc-tap .item h2 {
    font-size: 18px;
    font-weight: 500;
    color: #364670;
    margin: 15px 8px;
}

.content table {
    background: #e8eaea;
    padding: 15px;
    width: 95%;
    margin-left: 42px;
    border-radius: 14px;
    border-spacing: 0 8px;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.content table tbody tr {
    cursor: pointer;
    transition: all 0.3s ease;
}

.content table tbody tr.selected,
.content table tbody tr:hover {
    border-radius: 14px;
    background: #e8eaf6;
}

.content table tbody tr td {
    padding: 16px;
}

.content table tbody tr td.icon i {
    font-size: 30px;
    background: #e6e4ec;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.content .tai-lieu-hoc-tap tbody tr.selected td.icon i,
.content .tai-lieu-hoc-tap tbody tr:hover td.icon i {
    border-color: #999;
}

.content table tbody tr td.name {
    font-weight: 500;
    font-size: 14px;
    color: #364670;
}

.content table tbody tr td.extension,
.content table tbody tr td.size {
    color: #999;
    font-size: 14px;
}

.content table tbody tr td.more i {
    font-size: 20px;
}

.content table tbody tr td:first-child {
    border-radius: 14px 0 0 14px;
    padding-left: 15px;
}

.content table tbody tr td:first-child {
    border-radius: 0 14px 14px 0;
}


.right-section {
    flex: 2;
    padding: 25px 25px 15px 10px;
}

.right-section .tich-luy .qnu img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}