body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e6fff;
}

.login-form {
    max-width: 320px;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px #0000001a;
    animation: fadeIn 1.5s ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-heading {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group .label {
    position: absolute;
    top: -16px;
    left: 12px;
    font-size: 12px;
    color: #58bc82;
    font-weight: 600;
    transition: all 0.3s ease;
    opacity: 0.7;
}

.input-group input {
    width: 275px;
    padding: 15px 20px;
    font-size: 1rem;
    color: #333;
    background-color: #d6dfe6;
    border: 2px solid #d6dfe6;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
}

.input-group input:focus {
    border-color: #4fc2df;
    box-shadow: 0 0 10px #4fc2df;
}

.input-group input:focus + .label {
    top: -20px;
    font-size: 11px;
    color: #56aee0;
    opacity: 1;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #0e6fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #084ed1;
}

.submit {
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    background-color: #0e6fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #084ed1;
    transform: translateY(-2px);
    box-shadow: 0 5px 20px #084ed1aa;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.signup-link a {
    color: #0e6fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.signup-link a:hover {
    color: #084ed1;
}


.center-box {
    /* Đặt chiều rộng tối đa để khối không quá lớn */
    max-width: 400px;
    
    /* Căn giữa văn bản bên trong khối */
    text-align: center; 
    
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Kiểu cho liên kết Log Out */
.center-box a {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 20px;
    background-color: #dc3545; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}